*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div{
    margin: 100px auto;
    height: 300px;
    width: 300px;
    background-color: blue;
    /*
    border-top-left-radius: 250px 50px;
    border-top-right-radius: 30px 50px;
    border-bottom-left-radius: 100px 200px;
    border-bottom-right-radius: 150px 80px;*/
    border-radius: 40px / 20px;
}