*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: brown;
}

#contenedor{ 
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    align-items: center;
    
}
#contenedor div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    box-sizing: border-box;
 
}

p{
    font-size: 39px;
}
.uno{
    flex-grow: 1;
    flex-basis: 200px;
}

.dos{
  flex-grow: 2;
  align-self: flex-start;
}

.tres{
    flex-grow: 5;
}

.cuatro{
    order:-1;
    flex-grow: 1;
    flex-shrink: 2;
   
}