*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: purple;
}

div{
    height: 200px;
    width: 200px;
    background-color: darkred;
    margin: 0 auto;
    transition-property: background-color, height, width;
    transition-duration: 1s, 1s, 1s;
    transition-timing-function: cubic-bezier(74,85,28,87);
    transition-delay: 0s 1s, 2s;
}

div:hover{
    height: 600px;
    width: 25%;
    background-color: black;
}

p{
    font-size:30px;
    text-align: center;
    color: red;
   padding-top: 75px;
    font-weight: bold;
    